<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"


	xsi:schemaLocation="  
       http://www.springframework.org/schema/beans  
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
       http://www.springframework.org/schema/aop  
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       
       ">

	<bean id="dataSource"
		class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://122.14.218.95:3306/prism?useUnicode=true&amp;characterEncoding=UTF-8" />
		<property name="username" value="lb2020" />
		<property name="password" value="lb2020" />
		<property name="maxTotal" value="1" />
		<property name="maxIdle" value="2" />
		<property name="initialSize" value="12000" />
	</bean>


	<import resource="config/*.xml" />
	<context:component-scan
		base-package="com.prism.aop" />

</beans>