body{
	margin:0;
	padding:0;
	background:url(bg.gif) 0 0 repeat #f7f5f5;
	color:#333;
	font-family:Cambria, Georgia, serif;
	font-size:15px;
	overflow-x:hidden;
}
header, section, footer, hgroup{
	display:block;
}
a {
	color:#35BFFF;
	text-decoration:none;
}
a:hover, a:active{
	color:#91DCFF;
}

/* Header */
#header{
	width:100%;
	background:#000;
	background:rgba(0, 0, 0, 0.8);
	padding:5px 0;
	letter-spacing:1px;
	margin-bottom:20px;
	position:fixed;
	top:0;
	left:0;
	z-index:99;
}
#header h1{
	padding:0 20px;
	margin:5px 0;
	text-shadow:2px 1px 1px #333, 2px 2px 1px #888;
	color:#EAEAEA;
	float:left;
	font-size:27px;
}
#backlinks{
	float:right;
	padding:0 20px;
	line-height:22px;
	font-weight:bold;
	font-size:13px;
}
#backlinks a{
	text-align:right;
	display:block;
}



/* clearfix */
.clearfix {
	clear:both;
}


img {
	border: none;
}

.wrapper {
	max-width: 900px;
	margin: auto;
}

.wrapper h3 {
	color: #3366cc;
	font-size: 16px;
	height: 35px;
	line-height: 1.9;
	text-align: center;
	border-bottom: 1px solid #E5E5E5;
	margin: 0 0 10px 0;
}

#con1_1 {
	position: relative;
}


.grid img {
	width: 100%;
}

.grid p {
	padding: 0px;
	font-size: 12px;
	text-align: right;
	color: #333;
	white-space: normal;
}
.grid .stage_price{
	text-align:right;
	color:#f00;
	
}
.grid{
	position: absolute;
	width:31%;
	min-height:100px;
	background:#fff;
	margin:3px;
	padding:5px;
	font-size:12px;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	
	-webkit-transition: top 1s ease, left 1s ease;
	-moz-transition: top 1s ease, left 1s ease;
	-o-transition: top 1s ease, left 1s ease;
	-ms-transition: top 1s ease, left 1s ease;
}
.footer{
	text-align: center;
}
.footer a{
	margin: 5px;
	cursor: pointer;
}
.vline{
	display: block;
	
}

@media screen and (max-width : 1240px) {
	body{
		overflow:auto;
	}
}
@media screen and (max-width : 900px) {
	#backlinks{
		float:none;
		clear:both;
	}
	#backlinks a{
		display:inline-block;
		padding-right:20px;
	}
	#wrapper{
		margin-top:90px;
	}
}